/* -----------------------------------------
* VARIABLES
-------------------------------------------*/
:root {
    /* Palette */
    --col-cyan: #00ffff;
    --col-primary: #4831f9;

    /* Layout */
    --header-height: 70px;
    --footer-height: 50px;
}


/* -----------------------------------------
* RESETS
-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------------------------------
* GENERICS
-------------------------------------------*/
body {
    font-family: sans-serif;
}




/* -----------------------------------------
* UTILS
-------------------------------------------*/
/*** MARGIN ***/
.ml-1 {
    margin-left: 0.5rem;
}

.ml-2 {
    margin-left: 1rem;
}


/* -----------------------------------------
* LAYOUT
-------------------------------------------*/
.layout-top {
    height: var(--header-height);
}

.layout-bottom {
    height: var(--footer-height);
}

.layout-main {
    height: calc(100vh - (var(--header-height) + var(--footer-height)));
}



/* -----------------------------------------
? ELEMENTS
-------------------------------------------*/
/*** BUTTONS ***/
.btn {
    display: inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    text-align: center;
    cursor: pointer;

    padding: 6px 20px;
    border-radius: 6px;
}

.btn.btn-primary {
    background-color: var(--col-primary);
    color: #fff;
}


/*** GAME HEADER ***/
#game-header .container {
    display: flex;
    justify-content: space-between;
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    width: 70px;
}


/*** GAME CONTENT ***/
#game-content {
    background-color: var(--col-cyan);
}


/* -----------------------------------------
? RESPONSIVE
-------------------------------------------*/
